
body{
    background-color: antiquewhite ;
}

h1{
    text-align: center;
    border: 2px solid black;
    background-color: aliceblue;
    margin: 0 auto;
    max-width: 50%;
}

section{
    border: 2px solid black;
    background-color: aliceblue;
    width: 380px;
    margin: 3rem auto;
    text-align: center;
}