@media screen and (min-width: 800px){

    .main-index, .main-discover{ 
        display: grid;
        grid-template-areas: "a a a"
                         "b b b"
                         "c c c"
                         "d d d"
                         "e e f";
    } 
    .Weather{
        grid-area: f;
    }

    .Hero{
        grid-area: a;
    }

    .News{
        grid-area: b;
    }

    .Spotlight{
        grid-area: c;
        display: flex;
    }

    .Join{
        display: block;
        grid-area: d;
    }

    .Event{
        grid-area: e;
    }

    nav ul{
        display: flex;
        flex-direction: row;
    }

    #hamburger-button{
        display: none;
    }

    .hide{
        display: flex;
    }

    /* DISCOVERY PAGE */
    .discovery img:hover{
        border:5px solid #ccc;
    }

    /* JOIN PAGE */
    .main-join{
        display: flexbox;
    }

    form{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "a b";
        
    }
    form fieldset{
        max-width: 100%;
    }

    .first-fieldset{
        display: inline-block;
    }

    .second-fieldset{
        display: inline-block;
        margin-top: 2rem;

    }

}

