@media screen and (max-width: 640px){

    ul li{
        margin: 0 auto;
        text-align: center;
        list-style: none;
    }

    header{
        border-radius: 0px;
    }

    footer{
        border-radius: 0px;
    }
    
}